@model BookStore.ViewModels.Contacts.EditVM
@using BookStore.Entities;
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Book item = (Book)ViewData["item"];
}

<td>
    <fieldset>
        <legend> Form </legend>
        <form action="/Contacts/AddContact" method="post">
            @Html.HiddenFor(m => m.ContactId)
            <table>
                <tr>
                    <td> @Html.LabelFor(m => m.PhoneNumber) </td>
                    <td>
                        @Html.TextBoxFor(m => m.PhoneNumber)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { style = "color:red" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Save" />
                    </td>
                    <td>
                        <a href="/Contacts/Index"> Back to list </a>
                    </td>
                </tr>

            </table>

        </form>
    </fieldset>
</td>

